<a href="https://colab.research.google.com/github/eemayes2/IE517_F21_HW6/blob/main/IE517_HWK6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
#Import libraries needed
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

#Check if any null values we need to change
def num_missing(x):
    return sum(x.isnull())

In [49]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [50]:
#Read in Data
df = pd.read_csv('gdrive/MyDrive/Colab Notebooks/ccdefault.csv', header=0)
df.head()

   ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  DEFAULT
0   1      20000    2          2  ...         0         0         0        1
1   2     120000    2          2  ...      1000         0      2000        1
2   3      90000    2          2  ...      1000      1000      5000        0
3   4      50000    2          2  ...      1100      1069      1000        0
4   5      50000    1          2  ...      9000       689       679        0

[5 rows x 25 columns]

In [51]:
df.describe()

                 ID       LIMIT_BAL  ...       PAY_AMT6       DEFAULT
count  30000.000000    30000.000000  ...   30000.000000  30000.000000
mean   15000.500000   167484.322667  ...    5215.502567      0.221200
std     8660.398374   129747.661567  ...   17777.465775      0.415062
min        1.000000    10000.000000  ...       0.000000      0.000000
25%     7500.750000    50000.000000  ...     117.750000      0.000000
50%    15000.500000   140000.000000  ...    1500.000000      0.000000
75%    22500.250000   240000.000000  ...    4000.000000      0.000000
max    30000.000000  1000000.000000  ...  528666.000000      1.000000

[8 rows x 25 columns]

### Try different random states in test-train-split

In [52]:
#Split into training-test sets
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
x = df.drop(columns = ['DEFAULT'])
y = df['DEFAULT']
out_of = []
in_of = []
for i in range(1,11):
  X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=i, stratify = y)
  tree = DecisionTreeClassifier(criterion = 'gini', max_depth = 4, random_state = 1)
  tree.fit(X_train, y_train)
  y_pred = tree.predict(X_test)
  acc_out = accuracy_score(y_test, y_pred)
  out_of.append(acc_out)
  y_pred_train = tree.predict(X_train)
  acc_in = accuracy_score(y_train, y_pred_train)
  in_of.append(acc_in)
  print("Seed Number:" + str(i) + "\n\tOut of Sample Accuracy: " + str(acc_out))
  print("\tIn Sample Accuracy: " + str(acc_in))

Seed Number:1
	Out of Sample Accuracy: 0.8283333333333334
	In Sample Accuracy: 0.8225555555555556
Seed Number:2
	Out of Sample Accuracy: 0.824
	In Sample Accuracy: 0.8225925925925925
Seed Number:3
	Out of Sample Accuracy: 0.8173333333333334
	In Sample Accuracy: 0.8241111111111111
Seed Number:4
	Out of Sample Accuracy: 0.8196666666666667
	In Sample Accuracy: 0.8237037037037037
Seed Number:5
	Out of Sample Accuracy: 0.818
	In Sample Accuracy: 0.8231481481481482
Seed Number:6
	Out of Sample Accuracy: 0.819
	In Sample Accuracy: 0.823925925925926
Seed Number:7
	Out of Sample Accuracy: 0.8253333333333334
	In Sample Accuracy: 0.8232592592592592
Seed Number:8
	Out of Sample Accuracy: 0.8166666666666667
	In Sample Accuracy: 0.8238148148148148
Seed Number:9
	Out of Sample Accuracy: 0.8173333333333334
	In Sample Accuracy: 0.823925925925926
Seed Number:10
	Out of Sample Accuracy: 0.82
	In Sample Accuracy: 0.8236296296296296

In [53]:
print("Out of Sample: \n\tMean: " + str(np.mean(out_of)) + "\n\tStand. Dev: " + str(np.std(out_of)))
print("In Sample: \n\tMean: " + str(np.mean(in_of)) + "\n\tStand. Dev: " + str(np.std(in_of)))

Out of Sample:
	Mean: 0.8205666666666666
	Stand. Dev: 0.0037566237797019685
In Sample:
	Mean: 0.8234666666666666
	Stand. Dev: 0.0005272284340525735

### Cross Validation with K-fold CV

In [54]:
from sklearn.model_selection import StratifiedKFold, cross_val_score
x = df.drop(columns = ['DEFAULT'])
y = df['DEFAULT']

cv = StratifiedKFold(n_splits=10, random_state=1, shuffle=True)
scores = cross_val_score(tree, x, y, scoring='accuracy', cv=cv)

scores

array([0.819     , 0.827     , 0.82366667, 0.82466667, 0.82033333,
       0.817     , 0.81233333, 0.81833333, 0.81366667, 0.82566667])

In [55]:
print("Cross Val Scores: \n\tMean: " + str(np.mean(scores)) + "\n\tStand. Dev: " + str(np.std(scores)))

Cross Val Scores:
	Mean: 0.8201666666666666
	Stand. Dev: 0.00477318901085357

In [56]:
#Out of sample accuracy
kf = StratifiedKFold(n_splits=10, random_state = 1, shuffle = True)
kf.get_n_splits(x,y)
i = 1 
out_of = []

for train_index, test_index in kf.split(x,y):
  X_train, X_test = x.iloc[list(train_index)], x.iloc[list(test_index)]
  y_train, y_test = y.iloc[list(train_index)], y.iloc[list(test_index)]
  tree.fit(X_train, y_train)
  y_pred = tree.predict(X_test)
  acc_out = accuracy_score(y_test, y_pred)
  out_of.append(acc_out)
  y_pred_train = tree.predict(X_train)
  print("Fold Index:" + str(i) + "\n\tOut of Sample Accuracy: " + str(acc_out))
  print("\tIn Sample Accuracy: " + str(acc_in))
  i += 1

Fold Index:1
	Out of Sample Accuracy: 0.819
	In Sample Accuracy: 0.8236296296296296
Fold Index:2
	Out of Sample Accuracy: 0.827
	In Sample Accuracy: 0.8236296296296296
Fold Index:3
	Out of Sample Accuracy: 0.8236666666666667
	In Sample Accuracy: 0.8236296296296296
Fold Index:4
	Out of Sample Accuracy: 0.8246666666666667
	In Sample Accuracy: 0.8236296296296296
Fold Index:5
	Out of Sample Accuracy: 0.8203333333333334
	In Sample Accuracy: 0.8236296296296296
Fold Index:6
	Out of Sample Accuracy: 0.817
	In Sample Accuracy: 0.8236296296296296
Fold Index:7
	Out of Sample Accuracy: 0.8123333333333334
	In Sample Accuracy: 0.8236296296296296
Fold Index:8
	Out of Sample Accuracy: 0.8183333333333334
	In Sample Accuracy: 0.8236296296296296
Fold Index:9
	Out of Sample Accuracy: 0.8136666666666666
	In Sample Accuracy: 0.8236296296296296
Fold Index:10
	Out of Sample Accuracy: 0.8256666666666667
	In Sample Accuracy: 0.8236296296296296

In [57]:
print("Out of Sample: \n\tMean: " + str(np.mean(out_of)) + "\n\tStand. Dev: " + str(np.std(out_of)))

Out of Sample:
	Mean: 0.8201666666666666
	Stand. Dev: 0.00477318901085357

In [58]:
!wget -nc https://raw.githubusercontent.com/brpy/colab-pdf/master/colab_pdf.py
from colab_pdf import colab_pdf
colab_pdf('IE517_HWK6.ipynb')

File ‘colab_pdf.py’ already there; not retrieving.

Mounted at /content/drive/

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

[NbConvertApp] Converting notebook /content/drive/MyDrive/Colab Notebooks/IE517_HWK6.ipynb to pdf
[NbConvertApp] Writing 38733 bytes to ./notebook.tex
[NbConvertApp] Building PDF
[NbConvertApp] Running xelatex 3 times: [u'xelatex', u'./notebook.tex', '-quiet']
[NbConvertApp] Running bibtex 1 time: [u'bibtex', u'./notebook']
[NbConvertApp] WARNING | bibtex had problems, most likely because there were no citations
[NbConvertApp] PDF successfully created
[NbConvertApp] Writing 35670 bytes to /content/drive/My Drive/IE517_HWK6.pdf

'File ready to be Downloaded and Saved to Drive'